<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Crear Juego</title>
</head>
<body>
    <h1>Crear Nuevo Juego</h1>

    <form th:action="@{/juego/crear}" th:object="${juego}" method="post">

        <label for="tiempoLimiteDeJuego">Tiempo límite del juego:</label>
        <input type="number" th:field="*{tiempoLimiteDeJuego}" placeholder="Tiempo límite" />
    
        <label for="tiempoTranscurridoDeJuego">Tiempo transcurrido del juego:</label>
        <input type="number" th:field="*{tiempoTranscurridoDeJuego}" placeholder="Tiempo transcurrido" />
    
        <label for="nivelMinimoGananciasJuego">Nivel mínimo de ganancias:</label>
        <input type="number" step="any" th:field="*{nivelMinimoGananciasJuego}" placeholder="Nivel mínimo de ganancias" />
    
        <br/>
        <button type="submit">Crear juego</button>
    </form>
    
    <br/>
    <a th:href="@{/juego/list}">Volver a la lista de juegos</a>
</body>
</html>
