<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Editar Juego</title>
</head>
<body>
    <h1>Editar Juego</h1>

    <form th:action="@{'/juego/' + ${juego.id} + '/editar'}" th:object="${juego}" method="post">
        <label>Tiempo Límite</label>
        <input type="number" th:field="*{tiempoLimiteDeJuego}" />
    
        <label>Tiempo Transcurrido</label>
        <input type="number" th:field="*{tiempoTranscurridoDeJuego}" />
    
        <label>Nivel Mínimo de Ganancias</label>
        <input type="number" step="any" th:field="*{nivelMinimoGananciasJuego}" />
    
        <button type="submit">Actualizar</button>
    </form>    

    <br/>
    <a th:href="@{'/juego/' + ${juego.id}}">Volver al detalle del juego</a>
</body>
</html>
