<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Editar Caravana</title>
</head>

<body>
    <h1>Editar Caravana</h1>

    <form th:action="@{'/caravana/' + ${caravanaId} + '/editar'}" th:object="${caravana}" method="post">
        <label for="nombreCaravana">Nombre:</label>
        <input type="text" th:field="*{nombreCaravana}" id="nombreCaravana" required />
        <br/>

        <label for="velocidadCaravana">Velocidad:</label>
        <input type="number" step="any" th:field="*{velocidadCaravana}" id="velocidadCaravana" required />
        <br/>

        <label for="capacidadMaximaCargaCaravana">Capacidad Máxima de Carga:</label>
        <input type="number" step="any" th:field="*{capacidadMaximaCargaCaravana}" id="capacidadMaximaCargaCaravana" required />
        <br/>

        <label for="dineroDisponibleCaravana">Dinero Disponible:</label>
        <input type="number" step="any" th:field="*{dineroDisponibleCaravana}" id="dineroDisponibleCaravana" required />
        <br/>

        <label for="puntosDeVidaCaravana">Puntos de Vida:</label>
        <input type="number" th:field="*{puntosDeVidaCaravana}" id="puntosDeVidaCaravana" required />
        <br/>

        <label for="ciudadId">Ciudad Actual:</label>
        <select id="ciudadId" th:field="*{ciudadId}">
            <option th:each="ciudad : ${ciudades}" th:value="${ciudad.id}" th:text="${ciudad.nombreCiudad}"></option>
        </select>
        <br/><br/>

        <button type="submit">Actualizar</button>
    </form>

    <br/>
    <a th:href="@{'/caravana/list'}">Volver a la lista</a>
</body>

</html>