<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Detalle de Caravana</title>
</head>

<body>
    <h1 th:text="${caravana.nombreCaravana}">Nombre Caravana</h1>

    <p><strong>Velocidad:</strong> <span th:text="${caravana.velocidadCaravana}"></span></p>
    <p><strong>Carga Máxima:</strong> <span th:text="${caravana.capacidadMaximaCargaCaravana}"></span></p>
    <p><strong>Dinero Disponible:</strong> <span th:text="${caravana.dineroDisponibleCaravana}"></span></p>
    <p><strong>Puntos de Vida:</strong> <span th:text="${caravana.puntosDeVidaCaravana}"></span></p>
    <p><strong>Ciudad Actual:</strong> <span
            th:text="${caravana.nombreCiudadActual != null ? caravana.nombreCiudadActual : 'Sin ciudad'}"></span></p>
    <p><strong>Peso Actual Cargado:</strong> <span th:text="${pesoActualCargado}"></span></p>

    <h3>Opciones de la Caravana</h3>
    <ul>
        <li><a th:href="@{'/caravana/' + ${caravana.id} + '/editar'}">Editar Caravana</a></li>
        <li><a th:href="@{'/caravana/' + ${caravana.id} + '/comprar'}">Comprar Productos</a></li>
        <li><a th:href="@{'/caravana/' + ${caravana.id} + '/vender'}">Vender Productos</a></li>
        <li><a th:href="@{'/caravana/' + ${caravana.id} + '/mover'}">Mover Caravana</a></li>
        <li><a th:href="@{'/caravana/' + ${caravana.id} + '/jugadores'}">Agregar Jugador</a></li>
        <li><a th:href="@{'/caravana/' + ${caravana.id} + '/servicio'}">Aplicar Servicio</a></li>
        <li><a th:href="@{'/caravana/' + ${caravana.id} + '/productos'}">Ver Productos</a></li>
        <li><a th:href="@{'/caravana/' + ${caravana.id} + '/eliminar'}">Eliminar</a></li>
    </ul>    

    <h3>Otras Caravanas</h3>
    <ul>
    <li><a th:href="@{'/caravana' + '/list'}">Volver a la lista de caravanas</a></li>
    </ul>
</body>

</html>