<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Detalle de Ciudad</title>
</head>

<body>
    <h1 th:text="'Detalles de la Ciudad: ' + ${ciudad.nombreCiudad}"></h1>

    <p><strong>ID:</strong> <span th:text="${ciudad.id}"></span></p>
    <p><strong>Impuestos de Entrada:</strong> <span th:text="${ciudad.impuestosDeEntradaCiudad}"></span></p>

    <hr />

    <h2>Productos disponibles:</h2>
    <ul>
        <li th:each="cp : ${productos}">
            <span th:text="${cp.nombreProducto}"></span> -
            <span th:text="${cp.stockProducto}"></span> unidades
        </li>
    </ul>

    <h2>Servicios disponibles:</h2>
    <ul>
        <li th:each="cs : ${servicios}">
            <span th:text="${cs.nombreServicio}"></span> -
            <span th:text="${cs.precio} + ' monedas'"></span>            
        </li>
    </ul>

    <h2>Rutas asociadas:</h2>
    <ul>
        <li th:each="cr : ${rutas}">
            <span th:text="'Hacia ' + ${cr.destinoNombre}"></span>
            <span th:if="${cr.esSegura}"> (Segura) </span>

        </li>
    </ul>

    <br />
    <a th:href="@{/ciudad/list}">Volver a la lista de ciudades</a>
</body>

</html>