<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Vender Producto</title>
</head>

<body>
    <h1 th:text="'Vender producto - Caravana: ' + ${caravana.nombreCaravana}"></h1>
    <p th:text="'Dinero disponible: $' + ${caravana.dineroDisponibleCaravana} + ' CaravaCoins'"></p>

    <p th:text="'Peso actual de la caravana: ' + ${pesoActual} + ' kg'"></p>
    <p th:text="'Capacidad máxima: ' + ${caravana.capacidadMaximaCargaCaravana} + ' kg'"></p>

    <div th:if="${error}">
        <p style="color:red;" th:text="${error}"></p>
    </div>

    <form th:action="@{'/caravana/' + ${caravana.id} + '/vender'}" method="post">
        <label for="productoId">Selecciona producto:</label>
        <select name="productoId" id="productoId" required>
            <option th:each="cp : ${productosEnCaravana}" th:value="${cp.productoId}"
                th:text="${cp.nombreProducto + ' (Stock: ' + cp.stockEnCaravana + ') - Precio: $' + cp.precioBaseProducto}">
            </option>

        </select>
        <br /><br />

        <label for="cantidad">Cantidad a vender:</label>
        <input type="number" name="cantidad" id="cantidad" min="1" required />
        <br /><br />

        <button type="submit">Vender</button>
    </form>

    <br />
    <a th:href="@{/caravana/list}">Volver a la lista</a>
</body>

</html>