<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Productos en Caravana</title>
</head>

<body>
    <h1>Productos en la Caravana</h1>

    <table border="1">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Precio Base</th>
                <th>Stock</th>
                <th>Peso Total</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="cp : ${productos}">
                <td th:text="${cp.nombreProducto}">Nombre</td>
                <td th:text="${cp.precioBaseProducto}">Precio</td>
                <td th:text="${cp.stockEnCaravana}">Stock</td>
                <td th:text="${cp.pesoTotal}">Total</td>
            </tr>
        </tbody>
    </table>

    <br/>
    <a th:href="@{'/caravana/' + ${caravana.id}}">Volver</a>
</body>

</html>
